body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1E90FF; /* Soft blue background color */
    font-family: 'Quicksand', sans-serif;
    color: white;
}

#chatContainer {
    width: 100%;
    max-width: 600px;
    background: #1E90FF; /* Match the background color */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding: 20px;
    box-sizing: border-box;
    font-size: 1rem;
    border-radius: 10px; /* Rounded corners for a modern look */
}

.logo {
    font-size: 2.5rem; /* Increase the size for more impact */
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-weight: 700; /* Bold weight for a strong appearance */
    text-transform: lowercase; /* Lowercase text */
    letter-spacing: 0.05em; /* Slightly increase letter spacing for readability */
}

#typingIndicator {
    color: #B0C4DE; /* Softer color for the typing indicator */
    font-size: 0.9rem;
    margin-bottom: 10px;
    text-align: center;
}

.hidden {
    display: none;
}

#chatMessages {
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 20px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1); /* Slightly transparent background */
    font-size: 1rem;
    color: white;
    border-radius: 10px; /* Rounded corners for a modern look */
    scrollbar-color: #1E90FF #B0C4DE; /* Styling for scrollbar */
    scrollbar-width: thin;
}

#chatInput,
#nicknameInput {
    width: calc(100% - 90px);
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.2); /* Slightly transparent background */
    color: white;
    letter-spacing: 0.05em; /* Enhance readability */
}

#sendButton {
    padding: 10px;
    border: none;
    background: #104E8B;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    letter-spacing: 0.05em; /* Enhance readability */
}

#sendButton:hover {
    background: #0E4D92;
}

.message-status {
    font-size: 0.8rem;
    color: #B0C4DE;
    text-align: right;
    margin-top: -5px;
}
